@model Movie

<div class="flex flex-wrap gap-4" >
    <h1 class="">Title: @Model.Title</h1>
    <h1>Genre: @Model.Genre</h1>
    <h1>Duration: @Model.Duration</h1>
    <h1>Country: @Model.Country</h1>
    <h1>Category: @Model.Category</h1>
    <h1>Year: @Model.Year</h1>
    <h1>Synopsis:</h1>
    <p>@Model.Synopsis</p>
</div>

