@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Ticket;

<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5 text-white">Tickets</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
            <tr>
                <th class="px-4 py-3">Price</th>
                <th class="px-4 py-3">Seats</th>
                <th class="px-4 py-3">Show</th>
                <th class="px-4 py-3">Discount</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            <tbody>
            @{
                if (ViewBag.TicketsCount != 0)
                {
                    foreach (var item in ViewBag.Tickets)
                    {
                        <tr class="bg-gray-100 border-b border-gray-200">
                            <th class="px-4 py-3">@item.Price</th>
                            <th class="px-4 py-3">@item.SeatNumber</th>
                            <th class="px-4 py-3">@item.Show.StartTime.ToString("t") @item.Show.Date.ToString("D")</th>
                            <th class="px-4 py-3">@item.Discount?.Description</th>
                            <th class="px-4 py-3">
                                <div class="inline-flex">
                                    <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded">
                                        Del
                                    </button>
                                </div>
                            </th>
                        </tr>
                    }
                }
                else
                {
                    <th class="px-4 py-3">No elements to show</th>
                }
            }
            </tbody>
        </table>

        <button data-modal="formTicket" class="modal-trigger bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-800 hover:border-400 rounded">Add Ticket</button>
        <div id="formTicket" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Add Ticket
                        </div>
                    </div>
                    <!-- Modal content -->
                    <div asp-validation-summary="All">
                        <form method="post" id="form_id" class="w-full" asp-controller="Ticket" asp-action="Create">
                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="number" placeholder="Price" asp-for="Price">
                                    <span asp-validation-for="Price"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <input class="form-control" type="number" placeholder="Seats" asp-for="SeatNumber">
                                    <span asp-validation-for="SeatNumber"></span>
                                </div>
                            </div>
                            <label for="example-time-input" class="col-form-label">Discount</label>
                            <select class="form-select form-control" aria-label="Default select example" asp-for="DiscountId">
                                @{
                                    if (ViewBag.DiscountsCount != 0)
                                    {
                                        foreach (var discount in ViewBag.Discounts)
                                        {
                                            <option value="@discount.DiscountId">@discount.Description</option>
                                            <span asp-validation-for="DiscountId"></span>
                                        }
                                    }
                                }
                            </select>
                            <label for="example-time-input" class="col-form-label">Show</label>
                            <select class="form-select form-control" aria-label="Default select example" asp-for="ShowId">
                                @{
                                    if (ViewBag.ShowsCount != 0)
                                    {
                                        foreach (var show in ViewBag.Shows)
                                        {
                                            <option value="@show.ShowId.">@show.StartTime.ToString("T") @show.Date.ToString("D")</option>
                                            <span asp-validation-for="ShowId"></span>
                                        }
                                    }
                                }
                            </select>
                            <div class="mt-5">
                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Create"/>
                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                    Close
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>