@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
@model TheaterMember;

<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5 text-white">Theater Members</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
            <tr>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Email</th>
                <th class="px-4 py-3">Card</th>
                <th class="px-4 py-3">Code</th>
                <th class="px-4 py-3">Points</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            <tbody>
            @{
                if (ViewBag.MembersCount != 0)
                {
                    foreach (var item in ViewBag.Members)
                    {
                        <tr class="bg-gray-100 border-b border-gray-200">
                            <th class="px-4 py-3">@item.Email</th>
                            <th class="px-4 py-3">@item.Card</th>
                            <th class="px-4 py-3">@item.Code</th>
                            <th class="px-4 py-3">@item.Points</th>
                            <th class="px-4 py-3">
                                <div class="inline-flex">
                                    <button class="bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded">
                                        Edit
                                    </button>
                                </div>
                            </th>
                        </tr>
                    }
                }
                else
                {
                    <th class="px-4 py-3">No elements to show</th>
                }
            }
            </tbody>
        </table>
        <button data-modal="formMemb" class="modal-trigger bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-800 hover:border-400 rounded">Add Member</button>
        <div id="formMemb" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div asp-validation-summary="All">
                        <form method="post" id="form_id" class="w-full" asp-controller="TheaterMember" asp-action="Create">
                            <div class="border-b p-2 pb-3 pt-0 mb-4">
                                <div class="flex justify-between items-center">
                                    Add Member
                                </div>
                            </div>
                            <!-- Modal content -->
                            <div class="form-group row">
                                <div class="col-12">
                                    <label for="example-time-input" class="col-form-label">User</label>
                                    <select name="member" class="form-select form-control" aria-label="Default select example" asp-for="TheaterUserId">
                                        @{
                                            if (ViewBag.TheaterUsersCount != 0)
                                            {
                                                @foreach (var user in ViewBag.TheaterUsers)
                                                {
                                                    <option value=@user.Id>@user.Email</option>
                                                    <span asp-validation-for="TheaterUser"></span>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mt-5">
                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Create"/>
                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                    Close
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>