@model GenericPaginator<Cine.Models.Movie>

@{
    ViewData["Title"] = "Movie";
}

<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5">Movies</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
                <th class="px-4 py-3">Title</th>
                <th class="px-4 py-3">Genre</th>
                <th class="px-4 py-3">Duration</th>
                <th class="px-4 py-3">Country</th>
                <th class="px-4 py-3">Category</th>
                <th class="px-4 py-3">Year</th>
            </tr>
            @foreach (var item in Model.Result)
            {
                <tr class="bg-gray-100 border-b border-gray-200">
                    <th class="px-4 py-3">@item.Title</th>
                    <th class="px-4 py-3">@item.Genre</th>
                    <th class="px-4 py-3">@item.Duration</th>
                    <th class="px-4 py-3">@item.Country</th>
                    <th class="px-4 py-3">@item.Category</th>
                    <th class="px-4 py-3">@item.Year</th>
                </tr>
            }

        </table>
        <div class="flex flex-col md:flex-row items-center justify-center py-2">
            @if (Model.Result.Count() > 0)
            {
                <div>
                    <span>
                        <strong>@Model.TotalRegistrys</strong> registros encontrados
                    </span>
                </div>
                <div>
                    <span>&nbsp;|&nbsp;</span>
                    <span>
                        Página <strong>@(Model.ActualPage)</strong> de
                        <strong>@Model.TotalPages</strong>
                    </span>
                    <span>&nbsp;|&nbsp;</span>
                </div>

            }
            else
            {
                <span>No hay resultados para esta búsqueda</span>
                <span>&nbsp;|&nbsp;</span>
            }
            <div>
                @if (Model.ActualPage > 1)
                {
                    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default" })
                    <span></span>
                    @Html.ActionLink("Anterior", "Index", new { pagina = Model.ActualPage - 1 },
                                    new { @class = "btn btn-sm btn-default" })
                }
                else
                {
                    @Html.ActionLink("<<", "Index", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                    <span></span>
                    @Html.ActionLink("Anterior", "Index", new { pagina = 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                }
                <span></span>
                @if (Model.ActualPage < Model.TotalPages)
                {
                    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.ActualPage + 1 },
                                    new { @class = "btn btn-sm btn-default" })
                    <span></span>
                    @Html.ActionLink(">>", "Index", new { pagina = Model.ActualPage },
                                    new { @class = "btn btn-sm btn-default" })
                }
                else
                {
                    @Html.ActionLink("Siguiente", "Index", new { pagina = Model.ActualPage - 1 },
                                    new { @class = "btn btn-sm btn-default disabled" })
                    <span></span>
                    @Html.ActionLink(">>", "Index", new { pagina = Model.ActualPage },
                                    new { @class = "btn btn-sm btn-default disabled" })
                }
            </div>

        </div>

    </div>

</div>
