@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
@model Movie;
<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5 text-white">Films</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
                <th class="px-4 py-3">Title</th>
                <th class="px-4 py-3">Genre</th>
                <th class="px-4 py-3">Category</th>
                <th class="px-4 py-3">Duration</th>
                <th class="px-4 py-3">Year</th>
                <th class="px-4 py-3">Country</th>
                <th class="px-4 py-3">Synopsis</th>
                <th class="px-4 py-3">Directors</th>
                <th class="px-4 py-3">Actors</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            <tbody>
            @{
                if (ViewBag.MoviesCount != 0)
                {
                    foreach (var item in ViewBag.Movies)
                    {
                        <tr class="bg-gray-100 border-b border-gray-200">
                            <th class="px-4 py-3">@item.Title</th>
                            <th class="px-4 py-3">@item.Genre</th>
                            <th class="px-4 py-3">@item.Category</th>
                            <th class="px-4 py-3">@item.Duration min.</th>
                            <th class="px-4 py-3">@item.Year</th>
                            <th class="px-4 py-3">@item.Country</th>
                            <th class="px-4 py-3">
                                <button data-modal="@item.MovieId@item.Synopsis?.GetHashCode()" class="modal-trigger bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                    See
                                </button>
                            </th>
                            <th class="px-4 py-3">
                                @{
                                    if (item.Directors?.Count > 0)
                                    {
                                        <button data-modal="@item.MovieId@item.Directors?.GetHashCode()" class="modal-trigger bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                            See
                                        </button>
                                    }
                                    else
                                    {
                                        <button disabled="disabled" class="cursor-not-allowed bg-blue-300 text-white font-bold py-2 px-4 rounded">
                                            See
                                        </button>
                                    }
                                }
                            </th>
                            <th class="px-4 py-3">
                                @{
                                    if (item.Actors?.Count > 0)
                                    {
                                        <button data-modal="@item.MovieId@item.Actors?.GetHashCode()" class="modal-trigger bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                            See
                                        </button>
                                    }
                                    else
                                    {
                                        <button disabled="disabled" class="cursor-not-allowed bg-blue-300 text-white font-bold py-2 px-4 rounded">
                                            See
                                        </button>
                                    }
                                }
                            </th>
                            <div id="@item.MovieId@item.Synopsis?.GetHashCode()" class="modal-wrapper">
                                <div class="overlay close-modal"></div>
                                <div class="modal modal-centered">
                                    <div class="modal-content shadow-lg p-5">
                                        <div class="border-b p-2 pb-3 pt-0 mb-4">
                                            <div class="flex justify-between items-center">
                                                Synopsis
                                            </div>
                                        </div>
                                        <p>
                                            @item.Synopsis
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="@item.MovieId@item.Directors?.GetHashCode()" class="modal-wrapper">
                                <div class="overlay close-modal"></div>
                                <div class="modal modal-centered">
                                    <div class="modal-content shadow-lg p-5">
                                        <div class="border-b p-2 pb-3 pt-0 mb-4">
                                            <div class="flex justify-between items-center">
                                                Directors
                                            </div>
                                        </div>
                                        @{
                                            if (item.Directors?.Count > 0)
                                            {
                                                foreach (var director in item.Directors)
                                                {
                                                    <div>
                                                        <p>@director.Name</p>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="@item.MovieId@item.Actors?.GetHashCode()" class="modal-wrapper">
                                <div class="overlay close-modal"></div>
                                <div class="modal modal-centered">
                                    <div class="modal-content shadow-lg p-5">
                                        <div class="border-b p-2 pb-3 pt-0 mb-4">
                                            <div class="flex justify-between items-center">
                                                Synopsis
                                            </div>
                                        </div>
                                        @{
                                            if (item.Actors?.Count > 0)
                                            {
                                                foreach (var actor in item.Actors)
                                                {
                                                    <div>
                                                        <p>@actor.Name</p>
                                                    </div>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <th class="px-4 py-3">
                                <div class="inline-flex">
                                    <button data-modal="@item.MovieId@item.Title" class="modal-trigger bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded">
                                        Edit
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <div id="@item.MovieId@item.Title" class="modal-wrapper">
                            <div class="overlay close-modal"></div>
                            <div class="modal modal-centered">
                                <div class="modal-content shadow-lg p-5">
                                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                                        <div class="flex justify-between items-center">
                                            Edit Film "@item.Title"
                                        </div>
                                    </div>
                                    <!-- Modal content -->
                                    <div asp-validation-summary="All">
                                        <form method="post" id="form_id" class="w-full" asp-controller="Movie" asp-action="Update">
                                            <input hidden="hidden" asp-for="MovieId" value="@item.MovieId">
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Title" type="text" value="@item.Title" asp-for="Title">
                                                    <span asp-validation-for="Title"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Category" type="text" value="@item.Category" asp-for="Category">
                                                    <span asp-validation-for="Category"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Genre" type="text" value="@item.Genre" asp-for="Genre">
                                                    <span asp-validation-for="Genre"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" type="text" placeholder="Synopsis" value="@item.Synopsis" asp-for="Synopsis">
                                                    <span asp-validation-for="Synopsis"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" type="text" placeholder="Country" value="@item.Country" asp-for="Country">
                                                    <span asp-validation-for="Country"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <label>Duration</label>
                                                    <input class="form-control" type="number" placeholder="Duration" value="@item.Duration" asp-for="Duration">
                                                    <span asp-validation-for="Duration"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <label>Year</label>
                                                    <input class="form-control" type="number" placeholder="Year" value="@item.Year" asp-for="Year">
                                                    <span asp-validation-for="Year"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-6">
                                                    <label>Actors</label>
                                                    <select type="text" class="select form-control" multiple asp-for="Actors">
                                                        @{
                                                            foreach (var actor in ViewBag.Actors)
                                                            {
                                                                <option value="@actor.ProducerId">@actor.Name</option>
                                                                <span asp-validation-for="Actors"></span>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-6">
                                                    <label>Directors</label>
                                                    <select type="text" class="multiselect form-control" multiple="multiple" asp-for="Directors">
                                                        @{
                                                            foreach (var director in ViewBag.Directors)
                                                            {
                                                                <option value="@director.ProducerId">@director.Name</option>
                                                                <span asp-validation-for="Directors"></span>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mt-5">
                                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Update"/>
                                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                                    Close
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <th class="px-4 py-3">No elements to show</th>
                }
            }
            </tbody>
        </table>
        <button data-modal="formFilm" class="modal-trigger bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-800 hover:border-400 rounded">Add Film</button>
        <div id="formFilm" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Add Film
                        </div>
                    </div>
                    <!-- Modal content -->
                    <div asp-validation-summary="All">
                        <form method="post" id="form_id" class="w-full" asp-controller="Movie" asp-action="Create">
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" placeholder="Title" type="text" asp-for="Title">
                                    <span asp-validation-for="Title"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" placeholder="Category" type="text" asp-for="Category">
                                    <span asp-validation-for="Category"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" placeholder="Genre" type="text" asp-for="Genre">
                                    <span asp-validation-for="Genre"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" type="text" placeholder="Synopsis" asp-for="Synopsis">
                                    <span asp-validation-for="Synopsis"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" type="text" placeholder="Country" asp-for="Country">
                                    <span asp-validation-for="Country"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <label>Duration</label>
                                    <input class="form-control" type="number" placeholder="Duration" asp-for="Duration">
                                    <span asp-validation-for="Duration"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <label>Year</label>
                                    <input class="form-control" type="number" value="2021" placeholder="Year" asp-for="Year">
                                    <span asp-validation-for="Year"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label>Actors</label>
                                    <select type="text" class="multiselect form-control" multiple="multiple" role="multiselect" asp-for="Actors">
                                        @{
                                            foreach (var actor in ViewBag.Actors)
                                            {
                                                <option value="@actor.ProducerId">@actor.Name</option>
                                                <span asp-validation-for="Actors"></span>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label>Directors</label>
                                    <select type="text" class="multiselect form-control" multiple="multiple" role="multiselect" asp-for="Directors">
                                        @{
                                            foreach (var director in ViewBag.Directors)
                                            {
                                                <option value="@director.ProducerId">@director.Name</option>
                                                <span asp-validation-for="Actors"></span>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="mt-5">
                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Create"/>
                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                    Close
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>