@model TheaterUser


<div>
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5">Profile</p>
        <div class="flex felx-row gap-10">
            <h1>Email: @Model.Email</h1>
            <h1>Card: @Model.Card</h1>
            <button>Edit Card</button>
        </div>
        <p class="text-2xl text-center font-bold m-5">Tickets</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 bg-gray-600 border-gray-300">
                <th class="px-4 py-3">Price</th>
                <th class="px-4 py-3">Discount</th>
                <th class="px-4 py-3">Seat</th>
                <th class="px-4 py-3 ">Show</th>
                <th class="px-4 py-3">Options</th>
            </tr>

            @foreach (var item in Model.Ticekts)
            {
                <tr class="bg-gray-100 border-b border-gray-200">
                    <th class="px-4 py-3">@item.Price</th>
                    <th class="px-4 py-3">Discount</th>
                    <th class="px-4 py-3 ">@item.SeatNumber</th>
                    <th class="px-4 py-3">@item.ShowId</th>
                    <th class="px-4 py-3"><button>Cancel</button></th>
                </tr>

            }

        </table>



    </div>
</div>