@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
@model ProducerViewModel;

<div class="w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5 text-white">Actors</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
            <tr>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Country</th>
                <th class="px-4 py-3">Role</th>
                <th class="px-4 py-3">Age</th>
                <th class="px-4 py-3">Movies</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            <tbody>
            @{
                if (ViewBag.ActorsCount != 0)
                {
                    foreach (var item in ViewBag.Actors)
                    {
                        <tr class="bg-gray-100 border-b border-gray-200">
                            <th class="px-4 py-3">@item.Name</th>
                            <th class="px-4 py-3">@item.Country</th>
                            <th class="px-4 py-3">@item.Role</th>
                            <th class="px-4 py-3">@item.Age</th>
                            <th class="px-4 py-3">
                                @{/*
                                    if (!(item.Movies is null))
                                        foreach (var movies in item.Movies)
                                        {
                                            <a>@movies.Title</a>
                                        }
                                */}
                            </th>
                            <th class="px-4 py-3">
                                <div class="inline-flex">
                                    <button data-modal="@item.GetHashCode()" class="modal-trigger bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded">
                                        Edit
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <div id="@item.GetHashCode()" class="modal-wrapper">
                            <div class="overlay close-modal"></div>
                            <div class="modal modal-centered">
                                <div class="modal-content shadow-lg p-5">
                                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                                        <div class="flex justify-between items-center">
                                            Edit Actor
                                        </div>
                                    </div>
                                    <!-- Modal content -->
                                    <div asp-validation-summary="All">
                                        <form method="post" id="form_id" class="w-full" asp-controller="Producer" asp-action="UpdateActor">
                                            <input hidden asp-for="ProducerId" value="@item.ProducerId">
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Name" type="text" value="@item.Name" asp-for="Name">
                                                    <span asp-validation-for="Name"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Country" type="text" value="@item.Country" asp-for="Country">
                                                    <span asp-validation-for="Country"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Age" type="number" value="@item.Age" asp-for="Age">
                                                    <span asp-validation-for="Age"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label>Role</label>
                                                    <select type="text" class="form-control" onselect="@item.Role" asp-for="Role">
                                                        <option value="Primary">Primary</option>
                                                        <option value="Secondary">Secondary</option>
                                                        <option value="Extra">Extra</option>
                                                        <span asp-validation-for="Role"></span>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label>Films</label>
                                                    <select type="text" class="multiselect form-control" multiple="multiple" role="multiselect">
                                                        @{
                                                            foreach (var mov in ViewBag.Movies)
                                                            {
                                                                <option value="@mov.MovieId">@mov.Title</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mt-5">
                                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Update"/>
                                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                                    Close
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <th class="px-4 py-3">No elements to show</th>
                }
            }
            </tbody>
        </table>
        <button data-modal="formAct" class="modal-trigger bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-800 hover:border-400 rounded">Add Actor</button>
        <div id="formAct" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Add Actor
                        </div>
                    </div>
                    <!-- Modal content -->
                    <div asp-validation-summary="All">
                    <form method="post" id="form_id" class="w-full" asp-controller="Producer" asp-action="CreateActor">
                        <div class="form-group row">
                            <div class="col-10">
                                <input class="form-control" placeholder="Name" type="text" asp-for="Name">
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-10">
                                <input class="form-control" placeholder="Country" type="text" asp-for="Country">
                                <span asp-validation-for="Country"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-10">
                                <input class="form-control" placeholder="Age" type="number" asp-for="Age">
                                <span asp-validation-for="Age"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label>Role</label>
                                <select type="text" class="form-control" asp-for="Role">
                                    <option value="Primary">Primary</option>
                                    <option value="Secondary">Secondary</option>
                                    <option value="Extra">Extra</option>
                                    <span asp-validation-for="Role"></span>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label>Films</label>
                                <select type="text" class="multiselect form-control" multiple="multiple" role="multiselect">
                                    @{
                                        foreach (var mov in ViewBag.Movies)
                                        {
                                            <option value="@mov.MovieId">@mov.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="mt-5">
                            <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Create"/>
                            <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                Close
                            </span>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5 text-white">Directors</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
            <tr>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Country</th>
                <th class="px-4 py-3">Age</th>
                <th class="px-4 py-3">Movies</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            <tbody>
            @{
                if (ViewBag.DirectorsCount != 0)
                {
                    foreach (var item in ViewBag.Directors)
                    {
                        <tr class="bg-gray-100 border-b border-gray-200">
                            <th class="px-4 py-3">@item.Name</th>
                            <th class="px-4 py-3">@item.Country</th>
                            <th class="px-4 py-3">@item.Age</th>
                            <th class="px-4 py-3">
                                @{/*
                                    if (!(item.Movies is null))
                                        foreach (var movies in item.Movies)
                                        {
                                            <a>@movies.Title</a>
                                        }
                                */}
                            </th>
                            <th class="px-4 py-3">
                                <div class="inline-flex">
                                    <button data-modal="@item.GetHashCode()" class="modal-trigger bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded">
                                        Edit
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <div id="@item.GetHashCode()" class="modal-wrapper">
                            <div class="overlay close-modal"></div>
                            <div class="modal modal-centered">
                                <div class="modal-content shadow-lg p-5">
                                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                                        <div class="flex justify-between items-center">
                                            Edit Director
                                        </div>
                                    </div>
                                    <!-- Modal content -->
                                    <div asp-validation-summary="All">
                                        <form method="post" id="form_id" class="w-full" asp-controller="Producer" asp-action="UpdateDirector">
                                            <input hidden asp-for="ProducerId" value="@item.ProducerId">
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Name" type="text" value="@item.Name" asp-for="Name">
                                                    <span asp-validation-for="Name"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Country" type="text" value="@item.Country" asp-for="Country">
                                                    <span asp-validation-for="Country"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-10">
                                                    <input class="form-control" placeholder="Age" type="number" value="@item.Age" asp-for="Age">
                                                    <span asp-validation-for="Age"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-12">
                                                    <label>Films</label>
                                                    <select type="text" class="multiselect form-control" multiple="multiple" role="multiselect">
                                                        @{
                                                            foreach (var mov in ViewBag.Movies)
                                                            {
                                                                <option value="@mov.MovieId">@mov.Title</option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="mt-5">
                                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Create"/>
                                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                                    Close
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <th class="px-4 py-3">No elements to show</th>
                }
            }
            </tbody>
        </table>
        <button data-modal="formDir" class="modal-trigger bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-800 hover:border-400 rounded">Add Director</button>
        <div id="formDir" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Add Director
                        </div>
                    </div>
                    <!-- Modal content -->
                    <div asp-validation-summary="All">
                        <form method="post" id="form_id" class="w-full" asp-controller="Producer" asp-action="CreateDirector">
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" placeholder="Name" type="text" asp-for="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" placeholder="Country" type="text" asp-for="Country">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-10">
                                    <input class="form-control" placeholder="Age" type="text" asp-for="Age">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label>Films</label>
                                    <select type="text" class="multiselect form-control" multiple="multiple" role="multiselect">
                                        @{
                                        foreach (var mov in ViewBag.Movies)
                                        {
                                            <option value="@mov.MovieId">@mov.Title</option>
                                        }
                                    }
                                    </select>
                                </div>
                            </div>
                            <div class="mt-5">
                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Create"/>
                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                    Close
                                </span>
                            </div>
                        </form>
                </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>