@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
@model Show;
<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5">Funciones</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
            <tr>
                <th class="px-4 py-3">Inicio</th>
                <th class="px-4 py-3">Final</th>
                <th class="px-4 py-3">Fecha</th>
                <th class="px-4 py-3">Película</th>
                <th class="px-4 py-3">Sala</th>
                <th class="px-4 py-3">Acción</th>
            </tr>
            <tbody>
            @foreach (var item in ViewBag.Shows)
            {
                <tr class="bg-gray-100 border-b border-gray-200">
                    <th class="px-4 py-3">@item.StartTime</th>
                    <th class="px-4 py-3">@item.EndTime</th>
                    <th class="px-4 py-3">@item.Date</th>
                    <th class="px-4 py-3">@item.Movie.Title</th>
                    <th class="px-4 py-3">@item.Cinema.CinemaId</th>
                    <th class="px-4 py-3">
                        <div class="inline-flex">
                            <button class="bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded-l">
                                Edit
                            </button>
                            <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded-r">
                                Elim
                            </button>
                        </div>
                    </th>
                </tr>
            }
            </tbody>
        </table>
        <button data-modal="formShow" class="modal-trigger bg-red-500 hover:bg-red-200 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-500 rounded">Agregar Función</button>
        <div id="formShow" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Agregar Función
                        </div>
                    </div>
                    <!-- Modal content -->
                    <form method="post" id="form_id" class="w-full" asp-controller="Show" asp-action="Create">
                        <div class="form-group row">
                            <label for="example-date-input" class="col-2 col-form-label">Fecha</label>
                            <div class="col-10">
                                <input class="form-control" type="date" value="2011-08-19" asp-for="Date">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-time-input" class="col-2 col-form-label">Inicio</label>
                            <div class="col-10">
                                <input class="form-control" type="time" asp-for="StartTime">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-time-input" class="col-2 col-form-label">Fin</label>
                            <div class="col-10">
                                <input class="form-control" type="time" asp-for="EndTime">
                            </div>
                        </div>
                        <label for="example-time-input" class="col-form-label">Película</label>
                        <select class="form-select form-control" aria-label="Default select example" asp-for="Movie">
                            <option selected=""></option>
                            @{
                                int i = 1;
                                @foreach (var movie in ViewBag.Movies)
                                {
                                    i++;
                                    <option value="@i">@movie.Title</option>
                                }
                            }
                        </select>
                        <label for="example-time-input" class="col-form-label">Cinema</label>
                        <select class="form-select form-control" aria-label="Default select example" asp-for="Cinema">
                            @{
                                int i = 1;
                                @foreach (var cinema in ViewBag.Cinemas)
                                {
                                    i++;
                                    <option value="@i">@cinema.NumberOfSeats asientos</option>
                                }
                            }
                        </select>

                        <div class="mt-5">
                            <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Crear"/>
                            <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                Cerrar
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>