@{
    Layout = "~/Views/Manager/_Layout.cshtml";
}
@model Show;
<div class=" w-full">
    <div class="flex flex-col items-center justify-center">
        <p class="text-2xl text-center font-bold m-5 text-white">Shows</p>
        <table class="rounded-t-lg m-5 w-5/6 mx-auto bg-gray-200 text-gray-800">
            <tr class="text-left border-b-2 border-gray-300">
            <tr>
                <th class="px-4 py-3">Start</th>
                <th class="px-4 py-3">End</th>
                <th class="px-4 py-3">Date</th>
                <th class="px-4 py-3">Movie</th>
                <th class="px-4 py-3">Cinema</th>
                <th class="px-4 py-3">Price</th>
                <th class="px-4 py-3">PointsPrice</th>
                <th class="px-4 py-3">Discount</th>
                <th class="px-4 py-3">Action</th>
            </tr>
            <tbody>
            @{
                if (ViewBag.ShowsCount != 0)
                {
                    foreach (var item in ViewBag.Shows)
                    {
                        <tr class="bg-gray-100 border-b border-gray-200">
                            <th class="px-4 py-3">@item.StartTime.ToString("T")</th>
                            <th class="px-4 py-3">@item.EndTime.ToString("T")</th>
                            <th class="px-4 py-3">@item.Date.ToString("D")</th>
                            <th class="px-4 py-3">@item.Movie.Title</th>
                            <th class="px-4 py-3">@item.Cinema.NumberOfSeats</th>
                            <th class="px-4 py-3">@item.Price</th>
                            <th class="px-4 py-3">@item.PointsPrice</th>
                            <th class="px-4 py-3">@item.Discount?.Description</th>
                            <th class="px-4 py-3">
                                <div class="inline-flex">
                                    <button data-modal="@item.ShowId" class="modal-trigger bg-gray-200 hover:bg-green-500 text-black-dark font-bold py-2 px-4 rounded-l">
                                        Edit
                                    </button>
                                    <button class="bg-gray-200 hover:bg-red-500 text-black-dark font-bold py-2 px-4 rounded-r">
                                        Elim
                                    </button>
                                </div>
                            </th>
                        </tr>
                        <div id="@item.ShowId" class="modal-wrapper">
                            <div class="overlay close-modal"></div>
                            <div class="modal modal-centered">
                                <div class="modal-content shadow-lg p-5">
                                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                                        <div class="flex justify-between items-center">
                                            Edit Show
                                        </div>
                                    </div>
                                    <!-- Modal content -->
                                    <div asp-validation-summary="All">
                                        <form method="post" id="@item.ShowId" class="w-full" asp-controller="Show" asp-action="Update">
                                            <input hidden="hidden" value="@item.ShowId" asp-for="ShowId"/>
                                            <div class="form-group row">
                                                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="date" value="@item.Date" asp-for="Date">
                                                    <span asp-validation-for="Date"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-time-input" class="col-2 col-form-label">Start</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="time" value="@item.StartTime" asp-for="StartTime">
                                                    <span asp-validation-for="StartTime"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-time-input" class="col-2 col-form-label">End</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="time" value="@item.EndTime" asp-for="EndTime">
                                                    <span asp-validation-for="EndTime"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-time-input" class="col-form-label">Discount</label>
                                                <select class="form-select form-control" aria-label="Default select example" asp-for="DiscountId">
                                                    @{
                                                        if (ViewBag.DiscountsCount != 0)
                                                        {
                                                            foreach (var dis in ViewBag.Discounts)
                                                            {
                                                                <option value="@dis.DiscountId">@dis.Description</option>
                                                                <input hidden="hidden" asp-for="Discount" value="@dis"/>
                                                                <span asp-validation-for="DiscountId"></span>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-time-input" class="col-form-label">Movie</label>
                                                <select class="form-select form-control" aria-label="Default select example" asp-for="MovieId">
                                                    @{
                                                        if (ViewBag.MoviesCount != 0)
                                                        {
                                                            foreach (var movie in ViewBag.Movies)
                                                            {
                                                                <option value="@movie.MovieId">@movie.Title</option>
                                                                <input hidden="hidden" asp-for="Movie" value="@movie"/>
                                                                <span asp-validation-for="MovieId"></span>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-time-input" class="col-form-label">Cinema</label>
                                                <select class="form-select form-control" aria-label="Default select example" asp-for="CinemaId">
                                                    @{
                                                        if (ViewBag.CinemasCount != 0)
                                                        {
                                                            foreach (var cinema in ViewBag.Cinemas)
                                                            {
                                                                <option value="@cinema.CinemaId">@cinema.NumberOfSeats seats</option>
                                                                <input hidden="hidden" asp-for="Cinema" value="@cinema" />
                                                                <span asp-validation-for="CinemaId"></span>
                                                            }
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-time-input" class="col-2 col-form-label">Price</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="number" value="@item.Price" asp-for="Price">
                                                    <span asp-validation-for="Price"></span>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-time-input" class="col-2 col-form-label">Points</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="number" value="@item.PointsPrice" asp-for="PointsPrice">
                                                    <span asp-validation-for="PointsPrice"></span>
                                                </div>
                                            </div>
                                            <div class="mt-5">
                                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Update"/>
                                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                                    Close
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                    }
                }
                else
                {
                    <th class="px-4 py-3">No elements to show</th>
                }
            }
            </tbody>
        </table>
        <button data-modal="formShow" class="modal-trigger bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-800 hover:border-400 rounded">Add Show</button>
        <div id="formShow" class="modal-wrapper">
            <div class="overlay close-modal"></div>
            <div class="modal modal-centered">
                <div class="modal-content shadow-lg p-5">
                    <div class="border-b p-2 pb-3 pt-0 mb-4">
                        <div class="flex justify-between items-center">
                            Add Show
                        </div>
                    </div>
                    <!-- Modal content -->
                    <form method="post" id="form_id" class="w-full" asp-controller="Show" asp-action="Create">
                        <div asp-validation-summary="All">
                            <div class="form-group row">
                                <label for="example-date-input" class="col-2 col-form-label">Date</label>
                                <div class="col-10">
                                    <input class="form-control" type="date" value="1959-01-01" asp-for="Date">
                                    <span asp-validation-for="Date"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-2 col-form-label">Start</label>
                                <div class="col-10">
                                    <input class="form-control" type="time" asp-for="StartTime">
                                    <span asp-validation-for="StartTime"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-2 col-form-label">End</label>
                                <div class="col-10">
                                    <input class="form-control" type="time" asp-for="EndTime">
                                    <span asp-validation-for="EndTime"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-form-label">Discount</label>
                                <select class="form-select form-control" aria-label="Default select example" asp-for="DiscountId">
                                    @{
                                        if (ViewBag.DiscountsCount != 0)
                                        {
                                            foreach (var dis in ViewBag.Discounts)
                                            {
                                                <option value="@dis.DiscountId">@dis.Description</option>
                                                <input hidden="hidden" asp-for="Discount" value="@dis"/>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-form-label">Movie</label>
                                <select class="form-select form-control" aria-label="Default select example" asp-for="MovieId">
                                    @{
                                        if (ViewBag.MoviesCount != 0)
                                        {
                                            foreach (var movie in ViewBag.Movies)
                                            {
                                                <option value="@movie.MovieId">@movie.Title</option>
                                                <input hidden="hidden" asp-for="Movie" value="@movie"/>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-form-label">Cinema</label>
                                <select class="form-select form-control" aria-label="Default select example" asp-for="CinemaId">
                                    @{
                                        if (ViewBag.CinemasCount != 0)
                                        {
                                            foreach (var cinema in ViewBag.Cinemas)
                                            {
                                                <option value="@cinema.CinemaId">@cinema.NumberOfSeats seats</option>
                                                <input hidden="hidden" asp-for="Cinema" value="@cinema"/>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-2 col-form-label">Price</label>
                                <div class="col-10">
                                    <input class="form-control" type="number" asp-for="Price">
                                    <span asp-validation-for="Price"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-time-input" class="col-2 col-form-label">Points</label>
                                <div class="col-10">
                                    <input class="form-control" type="number" asp-for="PointsPrice">
                                    <span asp-validation-for="PointsPrice"></span>
                                </div>
                            </div>
                            <div class="mt-5">
                                <input type="submit" class="bg-green-500 hover:bg-green-800 text-white font-bold py-2 px-4 rounded" value="Create"/>
                                <span class="close-modal cursor-pointer bg-red-200 hover:bg-red-500 text-red-900 font-bold py-2 px-4 rounded">
                                    Close
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>